[Desktop Entry]
Type=Application
Exec=xhost +local:root
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=xhost
Name=xhost
Comment[en_GB]=
Comment=
